[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
dask = "*"
pyarrow = "*"
distributed = "*"
fsspec = "*"
wget = "*"

[requires]
python_version = "3.6"
